<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#">
          <%= image_tag "buildery-logo-small.png", style: "width: 150px; height: auto" %>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="">about</a>
        </li>
        <li>
          <a href="">our services</a>
        </li>
        <li>
          <a href="">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="welcome-banner">
  <div class="welcome-text-container">
    <div class="wt-one">KICK START YOUR BUSINESS</div>
    <div class="wt-two">WITH OUR DESIGN!</div>
    <div class="wt-three">
      <p>
        Fully responsive multi-platform web design focusing on user experience with modern style
      </p>
    </div>
  </div>
</div>

<div class="services">
  <div class="row">
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-phone" ></span>
        <p class="service-name">Responsive Multi-Platform Design</p>
      </div>
    </div>
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-scissors" ></span>
        <p class="service-name">Custom Web Design</p>
      </div>
    </div>
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-signal" ></span>
        <p class="service-name">SEO</p>
      </div>
    </div>
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-pencil" ></span>
        <p class="service-name">Blog Platforms</p>
      </div>
    </div>
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-folder-open" ></span>
        <p class="service-name">CMS</p>
      </div>
    </div>
    <div class="service-outer col-lg-4 col-md-4 col-sm-6 col-xs-6">
      <div class="service-inner">
        <span class="glyphicon glyphicon-picture" ></span>
        <p class="service-name">Logo Design</p>
      </div>
    </div>
  </div>
</div>

<div class="contact">
<!--   <div class="section-title">Contact Us</div>
  <div class="contact-form">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="" placeholder="email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="phone number">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="" placeholder="message" style="height: 200px"></textarea>
      </div>
      <a class="btn btn-lg btn-primary" style="border-color: white" href="#" role="button">submit</a>
    </form>
  </div> -->
</div>

<div class="site-map">

</div>
<div class="footer">
  &copy; buildery.io<br>
  tampa, fl &nbsp; 614.359.6102<br>
</div>
