@media (max-width: 766px){
  .navbar-header{
    height: 75px;
    background-color: white;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background-color: white;
    border: 1px solid white;
  }

  .navbar-fixed-top .nav {
    padding: 15px 0;
  }

  .navbar-fixed-top .navbar-brand{
    padding: 15px;
  }

  .navbar-toggle{
    margin-top: 20px;
    border: 1px solid $buildery-light-blue;
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:focus .icon-bar{
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle{
    border: 1px solid $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:hover{
    background-color: white;
    border: 1px solid $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:focus{
    background-color: white;
    border: 1px solid $buildery-light-blue;
  }

  .welcome-banner{
    margin-top: 78px;
    height: 178px;
    background: url(asset-path('office.jpg')) no-repeat;
    background-size: 100%;
    background-color: $buildery-light-blue;
    background-blend-mode: multiply;
  }

  .welcome-text-container{
    margin: 4% 5%;
  }

  .wt-one{
    width: 185px;
    padding: 10px;
    font-size: 12px;
  }

  .wt-two{
    margin-top: 10px;
    width: 250px;
    padding: 10px;
    font-size: 25px;
  }

  .wt-three{
    margin-top: 5px;
    width: 250px;
    font-size: 14px;
  }

  .wt-three p{
   font-size: 18px;
   line-height: 95%;
  }

  .glyphicon{
    font-size: 30px;
  }

  .service-name{
    font-size: 6px;
  }

  .service-name-large{
    padding: 0px;
    font-size: 20px;
  }

  .service-detail{
    text-align: center;
  }


  .service-detail-left .glyphicon{
    font-size: 100px;
  }

  .service-detail-right{
    padding: 25px;
    margin-top: -200px;
    font-size: 12px;
  }
}

@media (min-width: 765px) and (max-width: 1055px){
  .welcome-text-container{
    margin: 8% 50%;
  }
  .welcome-banner{
    height: 460px;
  }
  .glyphicon{
    font-size: 30px;
  }

  .service-name{
    font-size: 12px;
  }

  .service-detail-left .glyphicon{
    font-size: 100px;
  }

  .service-detail-right{
    padding: 25px 100px;
    margin-top: -155px;
    font-size: 12px;
    text-align: center;
  }
}

@media (min-width: 1400px){
  .welcome-banner{
    margin-top: 112px;
    height: 720px;
    background: url(asset-path('office.jpg')) no-repeat;
    background-size: 100%;
    background-color: $buildery-light-blue;
    background-blend-mode: multiply;
  }
}
