body{
  height: 100%;
  width: 100%;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
    background-color: white;
}

.navbar-fixed-top .navbar-brand {
    padding: 15px;
    background-color: white;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: white;
  border: 1px solid white;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    background-color: red;

}
/*.navbar-header{
  height: 85px;
  background-color: white;
}

.navbar-header .navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: white;
  border: 1px solid white;
  height: 85px;
}*/
