body{
  height: 100%;
  width: 100%;
}

.navbar-header{
  height: 85px;
  background-color: white;
}

.navbar-header .navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: white;
  border: 1px solid white;
  height: 85px;
}
