body{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro';
  max-width: 100%;
  overflow-x: hidden;
}

.welcome-banner{
  margin-top: 112px;
  height: 500px;
  background: url(asset-path('office.jpg')) no-repeat;
  background-size: 100%;
  background-color: $buildery-light-blue;
  background-blend-mode: multiply;
}

.welcome-text-container{
  position: absolute;
  z-index: 1000;
  margin: 8% 60%;
}

.wt-one{
  width: 320px;
  background-color: $buildery-gray;
  padding: 10px;
  color: white;
  font-size: 22px;
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
}

.wt-two{
  margin-top: 15px;
  width: 410px;
  background-color: $buildery-light-blue;
  padding: 15px;
  color: white;
  font-size: 40px;
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
}

.wt-three{
  width: 420px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
}

.welcome-text-container span{
  font-size: 25px;
}

.navbar-fixed-top .nav {
    padding: 30px 0;
    background-color: white;
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
}

.navbar-fixed-top .navbar-brand {
    padding: 25px;
    background-color: white;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: white;
  border: 1px solid white;
}

.navbar-inverse .navbar-nav>li>a{
  color: $buildery-light-blue;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: white;
  background-color: $buildery-light-blue;
}

.btn-primary{
  background-color: $buildery-light-blue;
  border-color: $buildery-light-blue;
  border-radius: 0px;
}

.main-button{
 background-color: transparent;
 border: 3px solid white;
 border-radius: 0px;
 color: white;
 box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
 transition: all 0.3s ease-in-out;
}

.main-button:hover{
  background-color: #6BB9F0;
  border: 3px solid white;
  border-radius: 0px;
  color: white;
  box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.1);
}


.carousel {
  height: 500px;
  margin-top: 112px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.section-title{
  padding-top: 50px;
  font-size: 35px;
  color: white;
}

.services{
  background-color: black;
}

.service-outer{
  text-align: center;
}

.service-detail{
  min-height: 425px;
  background-color: #2f88f7;
  border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.service-detail .main-button:hover{
  background-color: transparent;
}

.service-inner{
  cursor: pointer;
}

.service-detail-left{
  min-height: 425px;
  text-align: center;
}

.service-detail-left .glyphicon{
  font-size: 200px;
  margin-top: 50px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.service-name-large{
  padding-left: 25px;
  font-family: "Lato";
  font-style: "normal";
  font-weight: 300;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.service-detail-right{
  /*max-width: 515px;*/
  margin-top: 125px;
  font-family: "Lato";
  font-style: "normal";
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-right: 25px;
}

.service-detail-inner{
  padding: 5% 0 0 20%;
}

.service-name{
  font-family: "Lato";
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  color: #6b6b6b;
}

.glyphicon{
  font-size: 50px;
  color: white;
  padding: 12px;
}

.contact{
  min-height: 500px;
  text-align: center;
  width: 100%;
  padding: 200px 25px;
  font-size: 16px;
  background-color: #1f1f1f;
  color: #b1aca0;
}
.contact-large{
  font-family: "Lato";
  font-weight: 100;
  font-style: normal;
  font-size: 35px;
}

.form-control{
  border-radius: 0px;
}

.footer{
  text-align: center;
  width: 100%;
  padding: 25px;
  font-size: 16px;
  background-color: #1f1f1f;
  color: #b1aca0;
}

