body{
  height: 100%;
  width: 100%;
}

.navbar-fixed-top .nav {
    padding: 30px 0;
    background-color: white;
}

.navbar-fixed-top .navbar-brand {
    padding: 25px;
    background-color: white;
}

.navbar, .navbar-inverse, .navbar-fixed-top{
  background-color: white;
  border: 1px solid white;
}

@media (max-width: 600px){
  body{

  }

  .navbar-header{
    height: 100px;
    background-color: white;
/*    border-bottom: 1px solid $buildery-light-blue;*/
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    background-color: white;
    border: 1px solid white;
  }

  .navbar-fixed-top .nav {
    padding: 15px 0;
  }

  .navbar-toggle{
    margin-top: 35px;
    border: 1px solid $buildery-light-blue;
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:hover .icon-bar{
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:focus .icon-bar{
    background-color: $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle{
    border: 1px solid $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:hover{
    background-color: white;
    border: 1px solid $buildery-light-blue;
  }

  .navbar-inverse .navbar-toggle:focus{
    background-color: white;
    border: 1px solid $buildery-light-blue;
  }
}
