<!DOCTYPE html>
<html>
<head>
  <title>buildery</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" media="only screen and (min-width: 401px)" href="/assets/buildery-desktop.css.scss" />

  <link rel="stylesheet" media="only screen and (max-width: 400px)" href="/assets/buildery-mobile.css.scss" />
  <link rel="stylesheet" media="only screen and (min-width: 375px) and (max-device-width : 667px)" href="/assets/buildery-mobile.css.scss" />
  <link rel="stylesheet" media="only screen and (min-width: 320px) and (max-device-width : 568px)" href="/assets/buildery-stylesheet.css.scss" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
